venv/
.venv

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
sessions.db

.idea/copilot.data.migration.ask2agent.xml
mcp/.adk/session.db
mcp_agent/.adk/session.db
